{% load static %}

<!DOCTYPE html>
    <head>
        <title>Vschools | Passwords</title>
        <link rel = "stylesheet" href = "{% static 'change_password.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "container">
            <div id = "login">
                <h2><i class = "fas fa-lock"></i> Set password</h2>
                <p id = "info">please enter your new password below.</p>
                <form method = "POST">
                    {% csrf_token %}
                    <div id = "holder">
                        <i class="fas fa-lock"></i>
                        <input type = "password" placeholder="Enter new password" name = "email" required/>
                    </div>

                    <div id = "holder">
                        <i class="fas fa-lock"></i>
                        <input type = "password" placeholder="Confirm password" name = "email" required/>
                    </div>
                    <button type = "submit">NEXT</button>
                </form>
            <p id = "footer">Vschools passwords</p>
        </div>
    </body>
</html>