{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vschools | Get started</title>
        <link rel="shortcut icon" href="{% static 'selfie.svg' %}" type="image/svg"/>
        <link id = "styles" rel = "stylesheet" href = "{% static 'dark/get_started.css' %}" type="text/css"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}" type="text/css"/>
    </head>
    <body oncontextmenu = "return false">
        <div id = "navbar">
            <h1>Vschools</h1>
        </div>

        <h2>Hello user please verify your e-mail...</h2>
        <p style = "max-width: 300px;">Please click on the link that has been sent to your e-mail
            to verify it and continue...
        </p>
        <img src = "{% static 'meeting.svg' %}"/>
        <a href = "{% url 'home' %}">Get started</a>
    </body>
</html>