{% load static %}

<!DOCTYPE html>
    <head>
        <title>Vschools | Passwords</title>
        <link rel = "stylesheet" href = "{% static 'change_password.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "container">
            <div id = "divone">
                <h1>Vschools</h1>
                <p>
                    Hello user your password should be between 8 to 32 characters and should contain
                    symbols and numbers for safety.
                </p>
                <img src = "{% static 'group_selfie.svg' %}" height = "200" width = "300"/>
            </div>
            <div id = "login">
                <h2><i class = "fas fa-lock"></i> Set password</h2>
                <p id = "info">please enter your new password below.</p>
                <form method = "POST">
                    {% csrf_token %}
                    <div id = "holder">
                        <i class="fas fa-key"></i>
                        <input type = "password" placeholder="Enter new password" min=8 max = 32 name = "password1" required/>
                    </div>

                    <div id = "holder">
                        <i class="fas fa-key"></i>
                        <input type = "password" placeholder="Confirm password" min=8 max = 32 name = "password2" required/>
                    </div>
                    <button type = "submit">NEXT</button>
                </form>
            <p id = "footer">Vschools premium</p>
        </div>
    </body>
</html>