{% load static %}

<!DOCTYPE html>
    <head>
        <title>Vschools | passwords</title>
        <link rel = "stylesheet" href = "{% static 'dark/password_changed.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "container">
            <div id = "card">
                <h2><i class = "fas fa-key"></i> Password changed</h2>
                <p id = "info">Hello user your password has been successfully 
                    changed, proceed to the login page below.
                </p>

                <a href = "{% url 'login' %}">Take me to login</a>

                <p id = "footer">Vschools premium</p>
            </div>
        </div>
    </body>
</html>