{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Agrogen | Recorded files</title>
        <link rel = "stylesheet" href = "{% static 'dark/uploaded_files.css' %}"/>
        <link rel = "stylesheet" href = "{% static 'fonts/css/all.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div id = "navbar">
            <h1>Agrogen</h1>
        </div>

        <h2>Recorded meetings</h2>

        {% if files %}
            <p>Review your recorded meetings here...</p>
            {% for item in files %}
                <div class="container">
                    <a target = "_blank" href = "{{ item.fileUrl }}"><i class = "fas fa-file-video"></i> Meeting recording <span>recorded on August 24th 2022</span></a>
                </div>
            {% endfor %}
        {% else %}
            <div class = "no_recordings">
                <img src = "{% static 'online_learning.svg' %}"/>
                <p class = "last_text">Meetings you've recorded appear here</p>
            </div>
        {% endif %}

    </body>
</html>